:root {
    /*========================================*/
    /*=============== COLORS =================*/
    --primary-color: #1C1C1C;
    --secondary-color: #6B7280;
    --background-color: #FFFFFF;
    --background-soft: #F8F8F8;
    --accent-color: #E8D8D4;

    /*========================================*/
    /*=============== TYPOGRAPHY ==============*/
    /*-----FONTS------*/
    --font-logo: "Irish Grover", cursive;
    --font-title: "Instrument Serif", serif; 
    --font-primary: "Inter", sans-serif; 

    /*-----FONT SIZE------*/
    --font-size-logo: 42px;
}